<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nasa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.flashcard.FlashcardDetailActivity"></activity>
        <activity android:name=".ui.intro.IntroActivity" />
        <activity android:name=".ui.intro.Intro2Activity" />
        <activity android:name=".ui.intro.Intro3Activity" />
        <activity android:name=".ui.quiz.QuizStartingActivity" />
        <activity android:name=".ui.quiz.QuizActivity" />
        <activity android:name=".ui.video.YouTubeActivity"/>
        <activity android:name=".ui.video.YoutubePlayerActivity"/>
        <activity android:name=".Home"/>
        <activity android:name=".MainActivity">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

    </application>
</manifest>